<section class="slider">
	<div class="slider-wrapper" aria-live="polite" role="">
		<ul>
		{{#each slides }}
			<li class="slide" data-slide-index={{@index}} aria-hidden="true">
				<div class="slide__image">
					<img src="{{this.image}}" alt="">
				</div>
				<div class="slide__content">
					<h2 class="slide__title">{{this.title}}</h2>
					<p class="slide__copy">
						{{this.title}} <br /> {{this.date}}
					</p>
				</div>
			</li>
		{{/each}}
		</ul>
	</div>
	<div class="slider-nav">
		<div class="slider-nav__desktop">
			{{#each slides}}
				<div class="slider-nav__thumbnail" style="background-image: url({{this.image}});" data-slide-nav={{@index}}>
				</div>
			{{/each}}
		</div>
		<div class="slider-nav__mobile">
			<div class="count"><span data-slider-nav="current">1</span>/<span data-slider-nav="total">{{slides.length}}</span></div>
			<fieldset class="slider-nav__controls" aria-label="slider buttons" aria-controls="carousel">
				<button class="slider-nav__button slider-nav__button--prev" value="prev" id="previous" aria-label="previous">
					<svg width="36" height="36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
						x="0px" y="0px" viewBox="0 0 36 36">
						<path d="M-36.4,31l15.2-12.8c0.1-0.1,0.1-0.3,0-0.4L-36.4,5c-0.2-0.2-0.5,0-0.5,0.2v25.7C-36.9,31.1-36.6,31.2-36.4,31z" />
						<path d="M25.4,5L10.2,17.8c-0.1,0.1-0.1,0.3,0,0.4L25.4,31c0.2,0.2,0.5,0,0.5-0.2V5.2C25.9,4.9,25.6,4.8,25.4,5z" />
					</svg>
				</button>
				<button class="slider-nav__button slider-nav__button--next" value="next" id="next" aria-label="next">
					<svg width="36" height="36"version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 36 36">
							<path d="M10.6,31l15.2-12.8c0.1-0.1,0.1-0.3,0-0.4L10.6,5c-0.2-0.2-0.5,0-0.5,0.2v25.7C10.1,31.1,10.4,31.2,10.6,31z" />
							<path d="M72.4,5L57.2,17.8c-0.1,0.1-0.1,0.3,0,0.4L72.4,31c0.2,0.2,0.5,0,0.5-0.2V5.2C72.9,4.9,72.6,4.8,72.4,5z" />
					</svg>
				</button>
			</fieldset>
		</div>
	</div>
</section>