<section class="slider">
	<div class="slider-wrapper" aria-live="polite" role="">
        <ul>
        {{#each slides }}
                <li class="slide" data-slide-index={{@index}} aria-hidden="true">
                    <div class="slide__image">
                        <img src="{{this.image}}" alt="">
                    </div>
                    <div class="slide__content">
                        <h2 class="slide__title">{{this.title}}</h2>
                        <p class="slide__copy">
                            {{this.title}} <br /> {{this.date}}
                        </p>
                    </div>
                </li>
		{{/each}}
        </ul>
	</div>
	<div class="slider-nav">
		{{#each slides}}
			<div class="slider-nav__thumbnail" style="background-image: url({{this.image}});" data-slide-nav={{@index}}>
			</div>
		{{/each}}
	</div>
</section>